/**
 * Copyright (C) ASF CANADA
 * http://asfcanada.org
 * Template		: asf_template 
 * Joomla		: 2.5
 * @license 	: GNU/GPL
 * @ version	: 1.0
**/
#page{
	width:75%;
	margin:auto;
}
#haut{
	width:100%;
	height:80px;
	background:#2F1800;
	border-bottom:7px solid #f17c00;
}
#contact{
	float:left;
}

#haut2{
	width:100%;
	min-height:100px;
}
#centre1{
	min-height:200px;
	background:#666;
}
#centre2{
	min-height:200px;
	background:#333;
}
#footer{
	width:100%;
	min-height:80px;
	background:#2F1800;
	border-top:7px solid #f17c00;
}